.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    .links {
        display: flex;
        gap: 20px;
    }
}