.skill {
    margin-top: 10rem;

    .header {
        margin-bottom: 2rem;
        text-align: center;
    }

    .content {
        display: flex;
        gap: 20px;
        flex-direction: column;

        .stacks {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 20px;

            .stack {
                background-color: #ffffff;
                padding: 10px 15px;
                border-radius: 20px;
                text-align: center;
                transition: all 300ms;

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.5);
                }
            }

            @media screen and (max-width: 700px) {
                flex-direction: column;
            }
        }
    }
}
